Repository Joe-Moran/federal-timeline: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:eslint:file, npm run format:prettier:file, npm run lint:style:file

.lintstagedrc.yml:

'*.{js,html}':
  - 'npm run lint:eslint:file'
  - 'npm run format:prettier:file'
'*.css':
  - 'npm run lint:style:file'

chore: update changes to current-events.org
  current-events.org
Due: none

Create README.org
  README.org
Due: none

Update README.org
  README.org
Due: none

refactor: remove HTML injection
  src/timeline/timeline.js
Due: npm run lint:eslint:file, npm run format:prettier:file

chore: update current events data
  current-events.org
Due: none

refactor: extract timeline card building to new file
  src/timeline/Link.js
  src/timeline/TimelineCard.js
  src/timeline/timeline.js
Due: npm run lint:eslint:file, npm run format:prettier:file

refactor: extract builder functions and css
  src/style.css
  src/timeline/Link.js
  src/timeline/link.css
  src/timeline/tag-button.css
  src/timeline/tag-button.js
  src/timeline/timeline-item-card.css
  src/timeline/timeline-item-card.js
  src/timeline/timeline-item-cluster.js
  src/timeline/timeline-item.css
  src/timeline/timeline.js
Due: npm run lint:eslint:file, npm run format:prettier:file, npm run lint:style:file

fix: apply classes with space between each in card component
  src/timeline/timeline-item-card.js
Due: npm run lint:eslint:file, npm run format:prettier:file

refactor: apply card styling to card itself
  src/style.css
  src/timeline/timeline-item.css
Due: npm run lint:style:file

fix: display external link icon after link text
  src/timeline/Link.js
Due: npm run lint:eslint:file, npm run format:prettier:file

fix: resolve duplicate rendering on timeline redraw
  src/timeline/timeline.js
Due: npm run lint:eslint:file, npm run format:prettier:file

feat: add storybook and write stories for components
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/timeline/link.stories.js
  src/timeline/tag-button.stories.js
  src/timeline/timeline-item-card.stories.js
  src/timeline/timeline.stories.js
Due: npm run lint:eslint:file, npm run format:prettier:file

chore: configure vscode recommended extensions
  .vscode/extensions.json
Due: none

Rename Link.js to link.js
  src/timeline/link.js
Due: npm run lint:eslint:file, npm run format:prettier:file

refactor: extract timeline filters into own file
  index.html
  src/timeline/timeline-filter-toolbar.js
  src/timeline/timeline.js
Due: npm run lint:eslint:file, npm run format:prettier:file

feat: add site title and favicon
  index.html
  public/distress-flag.svg
Due: npm run lint:eslint:file, npm run format:prettier:file

refactor: manage filter state in filter toolbar
  src/timeline/timeline-filter-toolbar.js
  src/timeline/timeline.js
Due: npm run lint:eslint:file, npm run format:prettier:file

chore: add HTML landmarks and header with "about" link
  index.html
  src/style.css
  src/timeline/timeline.js
Due: npm run lint:eslint:file, npm run format:prettier:file, npm run lint:style:file

fix: display details in timeline item cards
  src/timeline/timeline.js
Due: npm run lint:eslint:file, npm run format:prettier:file

feat: limit timeline to end on a few months past current date
  src/timeline/timeline.js
Due: npm run lint:eslint:file, npm run format:prettier:file

feat: use date element for accessibility
  src/timeline/timeline-item-card.js
Due: npm run lint:eslint:file, npm run format:prettier:file

refactor: extract styling to toolbar css file and create story
  src/timeline/timeline-filter-toolbar.css
  src/timeline/timeline-filter-toolbar.js
  src/timeline/timeline-filter-toolbar.stories.js
Due: npm run lint:eslint:file, npm run format:prettier:file, npm run lint:style:file

style: improve styling of cards, tags, links
  src/timeline/link.css
  src/timeline/tag-button.css
  src/timeline/timeline-item-card.css
  src/timeline/timeline-item.css
Due: npm run lint:style:file

fix: apply width to image
  index.html
  src/timeline/link.js
Due: npm run lint:eslint:file, npm run format:prettier:file

chore: add related project link to README
  README.org
Due: none

chore: add SciOp to related (?) links
  README.org
Due: none

chore: add Data Rescue Project to related project links
  README.org
Due: none

refactor: improve readability of main file
  current-events.org
  src/data.js
  src/main.js
Due: npm run lint:eslint:file, npm run format:prettier:file

style: improve styling of card details drawer
  src/timeline/timeline-item-card.css
Due: npm run lint:style:file

refactor: use pub/sub instead of callbacks for filter changes
  src/data-formatter.js
  src/event-coordinator.js
  src/main.js
  src/router.js
  src/timeline/timeline-filter-toolbar.js
  src/timeline/timeline-item-card.js
  src/timeline/timeline-item-card.stories.js
  src/timeline/timeline.js
Due: npm run lint:eslint:file, npm run format:prettier:file

fix: add button label text as HTML to button
  src/timeline/tag-button.js
Due: npm run lint:eslint:file, npm run format:prettier:file

feat: add testing to project
  package-lock.json
  package.json
  src/test-utils.js
  src/timeline/timeline-item-card.spec.js
  src/timeline/timline-filter-toolbar.spec.js
  tsconfig.json
  vite.config.js
  vitest-setup.js
Due: npm run lint:eslint:file, npm run format:prettier:file

feat: increase max time shown when zoomed out
  current-events.org
  src/timeline/timeline.js
Due: npm run lint:eslint:file, npm run format:prettier:file

chore: Add Press Freedom Tracker to related projects
  README.org
Due: none

chore: update data entires
  current-events.org
Due: none
